# Set Theory

Coded and submitted by: <br>
<i>Gonzales, Kim Carlo M.<br>
    201911014 <br>

This code activity will try to guide you in applying the concepts, methods, and rules of Set Theory through code. We will go through with the data types in which Set Theory can be applied, how to write them in equation form im $\LaTeX$, and then we will try to look at a practical example through a user's requirement.

### Lists

In Python,  the most common iterable collection are lists. In lists, elements are ordered and chageable. Lists are denoted by enclosing objects with square brackets $[ ... ]$. Lists can be accessed through their indices, negative indexing is permitted.

In [7]:
### Declaration
employees = ['John', 'Alex', 'Winston', 'Bob', 'Golbi'] ## Best practice when making a list of objects, list variable names should be in plural form

In [9]:
### Single Access
employees[-2]

'Bob'

In [11]:
### Multiple Access
employees[::-1]

['Golbi', 'Bob', 'Winston', 'Alex', 'John']

In [13]:
### Multiple Access via Loops
for employee in employees: ## To make coding a bit more intuitive, we use the singular form of the list variable name to denote its elements.
    print("Hi ",employee)

Hi  John
Hi  Alex
Hi  Winston
Hi  Bob
Hi  Golbi

In [15]:
### Multiple Access via Loops

for i in range(len(employees)): ## You could also use indices for iterations.
    if(i%2 == 0):
        print(employees[i])

John
Winston
Golbi

In [17]:
### Modifying Elements
employees[3] = 'John'
employees[-1] = 'Jimmy'
print(employees)

['John', 'Alex', 'Winston', 'John', 'Jimmy']

In [19]:
### Adding Elements
# employees.append("Elfaba")

employees.insert(2, "Ozai")
print(employees)

['John', 'Alex', 'Ozai', 'Winston', 'John', 'Jimmy']

In [21]:
### Removing Elements
# employees.pop() 

# employees.remove("Ozai")

# del employees[-1]

employees.clear()
employees

[]

### Tuples

Tuples are another collection data type in Python. There are several key differences between lists and tuples:
- Tuples are ordered collections, so order cannot be rearranged or modified.
- Since tuples are ordered collections $(a, b) \neq (b, a)$
- They are declared and denoted using parentheses $( ...)$

In [23]:
### Declaration
pix1_colors = (255, 0 , 0)  ## In image processing, this is called a tuple consisting of channels. 
                            ##It is structured as (Red, Green, Blue) such that the values in each channe; ranges from 0 - 255 
pix2_colors = (64, 128, 111)

In [25]:
### Single Access
green = pix2_colors[1]
green

128

In [27]:
pix1_colors[2] = 128

TypeError: 'tuple' object does not support item assignment

In [29]:
### Multiple Access
pix2_colors[::2]

(64, 111)

In [31]:
### Multiple Access via Loops
for color in pix2_colors:
    print(color)

64
128
111

In [33]:
car_xpos = (3, 5, 12, 15)
car_ypos = (0, 1, 5, 2)
### Multiple Access via Parallel Iteration
for pos in zip(car_xpos, car_ypos):
    print(f'Coordinates of cars in ordered pair form: {pos}')

Coordinates of cars in ordered pair form: (3, 0)
Coordinates of cars in ordered pair form: (5, 1)
Coordinates of cars in ordered pair form: (12, 5)
Coordinates of cars in ordered pair form: (15, 2)

In [35]:
for px_colors in zip(pix1_colors, pix2_colors):
    print(px_colors)

(255, 64)
(0, 128)
(0, 111)

In [38]:
### Modifying Elements

car_xpos[0] = 0

TypeError: 'tuple' object does not support item assignment

In [46]:
### Removing Elements

del pix1_colors[0]

TypeError: 'tuple' object doesn't support item deletion

In [48]:
### Merging Tuples
car_pos = car_xpos + car_ypos
car_pos

(3, 5, 12, 15, 0, 1, 5, 2)

### Sets

Sets are collections which are unordered and unindexed. Repititions are not allowed in set structures and they are denoted by curly brackets $\{ ... \}$.

In [41]:
### Declaration
bakery_A = {'bread', 'cracker', 'croissant', 'eclair', 'parfait','cannele', 'coffee','tea'}
bakery_B = {'bread', 'croissant', 'donuts', 'cinnamon roll', 'cookies','coffee','tea'}
bakery_C = {'bread', 'bread', 'bread'}

In [43]:
print(bakery_C)

{'bread'}

In [44]:
### Accessing Elements
bakery_A[0]

TypeError: 'set' object is not subscriptable

In [81]:
### Multiple Access via Loops
for product in bakery_A:
    print(product)

parfait
croissant
cracker
bread
tea
coffee
eclair

In [51]:
### Removing an Element
print(bakery_A)
bakery_A.remove('cannele')
print(bakery_A)

{'parfait', 'croissant', 'cracker', 'bread', 'tea', 'coffee', 'cannele', 'eclair'}
{'parfait', 'croissant', 'cracker', 'bread', 'tea', 'coffee', 'eclair'}

In [52]:
### Membership
# print('cannele' in bakery_A)
### Subsets
order = {'coffee', 'tea', 'donuts'}
order.issubset(bakery_A)

False

In [53]:
### Union
print(bakery_A)
print(bakery_B)
baker_st = bakery_A.union(bakery_B)
baker_st

{'parfait', 'croissant', 'cracker', 'bread', 'tea', 'coffee', 'eclair'}
{'cookies', 'croissant', 'donuts', 'bread', 'tea', 'coffee', 'cinnamon roll'}

{'bread',
 'cinnamon roll',
 'coffee',
 'cookies',
 'cracker',
 'croissant',
 'donuts',
 'eclair',
 'parfait',
 'tea'}

In [54]:
### Intersection
bakery_A.intersection(bakery_B)

{'bread', 'coffee', 'croissant', 'tea'}

In [55]:
### Difference
### Unique elements that is in Bakery but not in Bakery B
bakery_B.difference(bakery_A)

{'cinnamon roll', 'cookies', 'donuts'}

### Dictionaries

Dictionaries are collections which is unordered, changeable like sets but are indexed. Like sets, they are denoted witn $\{...\}$ but objects are characterized by <b>keys</b> and described using <b>values</b>.

In [111]:
### Declaration
bakery_A_prices = {'bread' : 60, 
            'cracker': 15, 
            'croissant': 40, 
           }

In [112]:
## Accessing
bakery_A_prices['bread']

60

In [58]:
## Accessing via Loops
for product in bakery_A_prices:
    print(product)

bread
cracker
croissant

In [59]:
for product in bakery_A_prices:
    print(bakery_A_prices[product])

60
15
40

In [60]:
for price in bakery_A_prices.values():
    print(price)

60
15
40

In [61]:
for product, price in bakery_A_prices.items():
    print(product, price)

bread 60
cracker 15
croissant 40

In [62]:
## Update / Modification
print(bakery_A_prices['bread'])
bakery_A_prices['bread'] *= 0.8
print(bakery_A_prices['bread'])

60
48.0

In [63]:
## Adding Elements
print(bakery_A_prices)
bakery_A_prices['coffee'] = 110
print(bakery_A_prices)

{'bread': 48.0, 'cracker': 15, 'croissant': 40}
{'bread': 48.0, 'cracker': 15, 'croissant': 40, 'coffee': 110}

In [64]:
## Removing Elements
print(bakery_A_prices)
print(bakery_A_prices.pop('cracker'))
print(bakery_A_prices)

{'bread': 48.0, 'cracker': 15, 'croissant': 40, 'coffee': 110}
15
{'bread': 48.0, 'croissant': 40, 'coffee': 110}

## Dataset Operations

For this section, we will use the sets below to practice some practical dataset operations.

In [65]:
cpe_courses = ["Object-Oriented Programming", "Data Structures and Algorithms", "Discrete Mathematics", "Linear Algebra",
               "Database Management","Logic Circuits", "Computer Automation","Digital Signals Processing", "Computer System Architecture and Organization"]
cs_courses = ["Object-Oriented Programming", "Data Structures and Algorithms", "Automata", "Programming Language Theory",
             "Discrete Mathematics", "Database Management", "Human Computer Interaction", "Information Security", "Information Management"]

In [117]:
## Examples
fav_mangas = ['Tokyo Ghoul', 'Nisekoi','Black Clover', 'My Hero', 'Solo Leveling', 'One Punch', 'Tales of Demons and Gods']
fav_animes= ['Tokyo Ghoul', 'One Punch', 'Konosuba', 'Your Name', 'Cell at work', 'My Hero', 'Hyouka', 'Clannad']

In [114]:
cpe = set(cpe_courses)
cs = set(cs_courses)

In [118]:
## Conversion to a set
mangas = set(fav_mangas)
animes = set(fav_animes)

### Inner Join

In [67]:
## Find the common things between the sets
## Intersection
common = cpe.intersection(cs)
common ## inner join

{'Data Structures and Algorithms',
 'Database Management',
 'Discrete Mathematics',
 'Object-Oriented Programming'}

### Left Join

In [68]:
cpe_ljoin = common.union(cpe)
cpe_ljoin

{'Computer Automation',
 'Computer System Architecture and Organization',
 'Data Structures and Algorithms',
 'Database Management',
 'Digital Signals Processing',
 'Discrete Mathematics',
 'Linear Algebra',
 'Logic Circuits',
 'Object-Oriented Programming'}

### Right Join

In [69]:
cs_rjoin = common.union(cs)
cs_rjoin

{'Automata',
 'Data Structures and Algorithms',
 'Database Management',
 'Discrete Mathematics',
 'Human Computer Interaction',
 'Information Management',
 'Information Security',
 'Object-Oriented Programming',
 'Programming Language Theory'}

### Left Exclusive Join

In [70]:
cpe_exljoin = cpe.difference(cs)
cpe_exljoin

{'Computer Automation',
 'Computer System Architecture and Organization',
 'Digital Signals Processing',
 'Linear Algebra',
 'Logic Circuits'}

### Right Exclusive Join

In [71]:
cs_exrjoin = cs.difference(cpe)
cs_exrjoin

{'Automata',
 'Human Computer Interaction',
 'Information Management',
 'Information Security',
 'Programming Language Theory'}

### Full Outer Join

In [72]:
## Union
full_outer = cpe.union(cs)
full_outer

{'Automata',
 'Computer Automation',
 'Computer System Architecture and Organization',
 'Data Structures and Algorithms',
 'Database Management',
 'Digital Signals Processing',
 'Discrete Mathematics',
 'Human Computer Interaction',
 'Information Management',
 'Information Security',
 'Linear Algebra',
 'Logic Circuits',
 'Object-Oriented Programming',
 'Programming Language Theory'}

### Full Outer Exclusive Join

In [73]:
## XOR
full_xouter = (cpe.difference(cs)).union(cs.difference(cpe))
full_xouter

{'Automata',
 'Computer Automation',
 'Computer System Architecture and Organization',
 'Digital Signals Processing',
 'Human Computer Interaction',
 'Information Management',
 'Information Security',
 'Linear Algebra',
 'Logic Circuits',
 'Programming Language Theory'}

## Scratch Area

You can use the area below to try your own code.

### Lists

In [8]:
### Example Declaration
Foods = ['Tempura', 'Curry', 'Karage', 'Tonkatsu', 'Ramen'] # Declaration of the list

In [10]:
### Example Single Access
print('First: ',Foods[0], '\nLast: ', Foods[-1] ) # 2 single access codes that shows
                                                  # the first and last elements

First:  Tempura
Last:  Ramen

In [12]:
### Example Multiple Access
print('first to last:', Foods[0::]) # A multiple access code that prints the list from the first entry to the last   
print('last to first', Foods[::-1])  #A multiple access code that prints the list from the last entry to the first

first to last: ['Tempura', 'Curry', 'Karage', 'Tonkatsu', 'Ramen']
last to first ['Ramen', 'Tonkatsu', 'Karage', 'Curry', 'Tempura']

In [14]:
### Example Multiple Access via Loops
for food in Foods: # a loop that would countiously print the all the element in a list
    print('DELICOUS!', food) # a code to indicate the food are delicous

DELICOUS! Tempura
DELICOUS! Curry
DELICOUS! Karage
DELICOUS! Tonkatsu
DELICOUS! Ramen

In [16]:
### Example Multiple Access via Loops
for i in range(len(Foods)): 
    if len(Foods[i]) ==  5: # Locates the element with 5 letters
        print(Foods[i])

Curry
Ramen

In [18]:
### Example Modifying Elements
Foods[0] = 'Sushi' # changes the element in the zeroth place to Sushi
Foods[2] = 'Shawarma' # changes the element in the 2nd place to Shawarma
print(Foods)

['Sushi', 'Curry', 'Shawarma', 'Tonkatsu', 'Ramen']

In [20]:
### Example Adding Elements
Foods.insert(3,'Fried Tofu') # Adds the element in the place indicated
print(Foods)

Foods.append('Baked clams') # Adds the element at the end of the list
print(Foods)

['Sushi', 'Curry', 'Shawarma', 'Fried Tofu', 'Tonkatsu', 'Ramen']
['Sushi', 'Curry', 'Shawarma', 'Fried Tofu', 'Tonkatsu', 'Ramen', 'Baked clams']

In [22]:
### Example Removing Elements
Foods.pop(3) # removes the element that have the placement of 3
print(Foods)

Foods.remove('Curry') # removes the selected element in the list
print(Foods)

Foods.clear() # clears the list
Foods

['Sushi', 'Curry', 'Shawarma', 'Tonkatsu', 'Ramen', 'Baked clams']
['Sushi', 'Shawarma', 'Tonkatsu', 'Ramen', 'Baked clams']

[]

### Tuples

In [24]:
### Example Declaration
fav_games = ('Stardew', 'Skyrim', 'C&C')
nost_games = ('Harvest Moon', 'Zelda','Empire Earth' )

In [26]:
### Example Single Access
Farm = fav_games[0]
Farm

'Stardew'

In [30]:
### Example Multiple Access
fav_games[0::] #get elements from 0, onwards

('Stardew', 'Skyrim', 'C&C')

In [32]:
### Example Multiple Access via Loops
for game in nost_games: #prints all element indiviually in the tuple
    print(game)

Harvest Moon
Zelda
Empire Earth

In [34]:
game_cores= ('Farming', 'Adventure', 'Strategy')
i = 0
for game in zip(fav_games, nost_games):
    print(f'The games {game} have {game_cores[i]} in it.')
    i+=1

The games ('Stardew', 'Harvest Moon') have Farming in it.
The games ('Skyrim', 'Zelda') have Adventure in it.
The games ('C&C', 'Empire Earth') have Strategy in it.

In [36]:
## Second example
for game in zip(fav_games, nost_games):
    print(game)

('Stardew', 'Harvest Moon')
('Skyrim', 'Zelda')
('C&C', 'Empire Earth')

In [45]:
### Example Modifying Elements
fav_games[2] = 'Genshin' # would occur an error because elements in a tuple can't be change

TypeError: 'tuple' object does not support item assignment

In [47]:
### Example Removing Elements
del fav_games[1] # del was used because tuple have no removed or clear functions
                 # Cannot be deleted because tuple doesn't allow alteration of elements

TypeError: 'tuple' object doesn't support item deletion

In [40]:
### Example Merging Tuples
some_best_games = fav_games + nost_games
some_best_games

('Stardew', 'Skyrim', 'C&C', 'Harvest Moon', 'Zelda', 'Empire Earth')

### Sets

In [103]:
### Exaxmple Declaration
manga_A = {'Isekai','Martial Arts', 'Magic', 'Fantasy', 'Adventure'}
manga_B = {'Fantasy', 'Romance', 'Isekai', 'Slice of Life'}
manga_C = {'Isekai', 'Isekai', 'Isekai', 'spinoff'}

In [76]:
#printing the set
print(manga_C)

{'spinoff', 'Isekai'}

In [77]:
### Example Single Access Elements
manga_C[0] # Would result to an error because set can't be access trough their indices

TypeError: 'set' object is not subscriptable

In [83]:
### Example Multiple Access via Loops
print('Genres: ')
for genre in manga_A:
    print(genre)

Genres:
Adventure
Fantasy
Isekai
Martial Arts
Magic

In [94]:
### Example of Removing an Element
print(manga_B)
manga_B.remove('Isekai') # removes the indiacted element
print(manga_B)
manga_B.pop() # removes the first element
print(manga_B)

{'Slice of Life', 'Fantasy', 'Romance', 'Isekai'}
{'Slice of Life', 'Fantasy', 'Romance'}
{'Fantasy', 'Romance'}

In [98]:
### Example Membership
# checks if an element is within the given set 
print('Is there a history genre in Manga B?\n','History' in manga_B)
#checks if the subset is in the given set
liked_genre = {'Isekai','Magic'}
print('Are Isekai and Magic a genre of manga A?\n',liked_genre.issubset(manga_A))

Is there a history genre in Manga B?
 False
Are Isekai and Magic a genre of manga A?
 True

In [101]:
### Example Union
print(manga_A)
print(manga_B)
mangas = manga_B.union(manga_A) # combines all elements in different sets
print(mangas)

{'Adventure', 'Fantasy', 'Isekai', 'Martial Arts', 'Magic'}
{'Fantasy', 'Romance'}
{'Romance', 'Martial Arts', 'Magic', 'Adventure', 'Fantasy', 'Isekai'}

In [106]:
### Example Intersection
manga_A.intersection(manga_B) # gets all common elements in different sets

{'Fantasy', 'Isekai'}

In [108]:
### Example Difference
manga_A.difference(manga_B, manga_C) # gets all element that is unique to manga_A alone

{'Adventure', 'Magic', 'Martial Arts'}

### Dictionaries

In [161]:
## Declaration
Power_lvl = {
    'Siatama': 99999,
    'Goku': 9001,
    'Subaru': 4514
}

In [162]:
## Accessing
Power_lvl['Goku']

9001

In [163]:
## getting all the anime character
for charac in Power_lvl:
    print(charac)

Siatama
Goku
Subaru

In [164]:
# getting the power levels
for charac in Power_lvl:
    print(Power_lvl[charac])

99999
9001
4514

In [165]:
# getting the power levels with different method
for power in Power_lvl.values():
    print(power)

99999
9001
4514

In [166]:
## Gets all the value in the dictionaries
for charac, power in Power_lvl.items():
    print(charac, power)

Siatama 99999
Goku 9001
Subaru 4514

In [167]:
## Modify the elements
Power_lvl['Subaru'] = 'Suffering'
Power_lvl

{'Siatama': 99999, 'Goku': 9001, 'Subaru': 'Suffering'}

In [168]:
## Adding an element
Power_lvl['Forbidden One'] = 'INFINTE'
Power_lvl

{'Siatama': 99999,
 'Goku': 9001,
 'Subaru': 'Suffering',
 'Forbidden One': 'INFINTE'}

In [169]:
## Removing an element
print(Power_lvl)
Power_lvl.pop('Subaru')
print(Power_lvl)

{'Siatama': 99999, 'Goku': 9001, 'Subaru': 'Suffering', 'Forbidden One': 'INFINTE'}
{'Siatama': 99999, 'Goku': 9001, 'Forbidden One': 'INFINTE'}

## Dataset Operations

### Inner Join

In [120]:
## Example of Inner Join/Intersection
common_elem = mangas.intersection(animes)
common_elem

{'My Hero', 'One Punch', 'Tokyo Ghoul'}

### Left Join

In [122]:
# Elements in the left set (MANGAS SET)
manga_ljoin = common_elem.union(mangas)
manga_ljoin

{'Black Clover',
 'My Hero',
 'Nisekoi',
 'One Punch',
 'Solo Leveling',
 'Tales of Demons and Gods',
 'Tokyo Ghoul'}

### Right Join

In [124]:
# Elements in the Right set (ANIMES SET)
animes_rjoin = common_elem.union(animes)
animes_rjoin

{'Cell at work',
 'Clannad',
 'Hyouka',
 'Konosuba',
 'My Hero',
 'One Punch',
 'Tokyo Ghoul',
 'Your Name'}

### Left Exclusive Join

In [128]:
## Elements unique to the left set (MANGAS SET)
manga_exljoin = mangas.difference(animes)
print(manga_exljoin)
# Another way of doin it
manga_exljoin2 = mangas.difference(common_elem)
manga_exljoin2

{'Tales of Demons and Gods', 'Solo Leveling', 'Black Clover', 'Nisekoi'}

{'Black Clover', 'Nisekoi', 'Solo Leveling', 'Tales of Demons and Gods'}

### Right Exclusive Join

In [129]:
## Elements unique to the right set (ANIMES SET)
anime_exljoin = animes.difference(mangas)
print(anime_exljoin)
# Another way of doin it
anime_exljoin2 = animes.difference(common_elem)
anime_exljoin2

{'Konosuba', 'Your Name', 'Hyouka', 'Cell at work', 'Clannad'}

{'Cell at work', 'Clannad', 'Hyouka', 'Konosuba', 'Your Name'}

### Full Outer Join

In [133]:
# Full Outer Exclusive Join Example
 # Doesn't include the common elements
ful_outer = mangas.union(animes)
ful_outer

{'Black Clover',
 'Cell at work',
 'Clannad',
 'Hyouka',
 'Konosuba',
 'My Hero',
 'Nisekoi',
 'One Punch',
 'Solo Leveling',
 'Tales of Demons and Gods',
 'Tokyo Ghoul',
 'Your Name'}

### Full Outer  Exclusive Join

In [ ]:
# Full Outer Exclusive Join Example
 # Doesn't include the common elements
ful_xouter = (mangas.difference(animes)).union(animes.difference(mangas))
ful_xouter